[Desktop Entry]
Name=Pekka Kana 2
Comment=Jump 'n run game made in the spirit of old classic platformers
Exec=pekka-kana-2
Keywords=game;adventure;action;platforms;
Terminal=false
Type=Application
Icon=net.pistegamez.PekkaKana2
Categories=Game;AdventureGame;ActionGame;
